/* Header */
:root {
    --black: #303031;
    --green: #71A894;
    --gray: #66645E;
    --white: #FFF;
    --light-gold: #F3F0EA;
}

.main-header {
    padding: 31px 33px 32px 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E7E7E7;
}

.main-menu ul   {
    display: flex;
    column-gap: 40px;
    list-style: none;
}

.main-menu ul li a  {
    text-decoration: none;
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;

}

/* .main-menu ul li:last-child {
    color: var(--second-color) !important;
}  */

.last-child {
    color: var(--green) !important;
    font-weight: 700;
}
   


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.logo p {
    color: var(--black);;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
}

/* Main */
.Home {
   margin-top: 100px;
}

.flex-container {
    flex: 1;
    display: flex;
    column-gap: 50px;
}

.box-1 {
    width: 500px;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: 20px;
}


.box-2 img {
    width: 500px;
    flex-basis: 50%;
}

.box-1 h1 {
    color: var(--black, #303031);
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

.box-1 p {
    color: var(--gray, #66645E);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.48px;
}

.box-1 a {
    display: inline-flex;
    width: 30%;
    padding: 20px 24px;
    align-items: center;
    border-radius: 8px;
    background: var(--green);
    color: var(--white, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 100px auto 0 auto;
}

.content h2 {
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    font-style: normal;
    line-height: 64px;
}

.content p {
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    font-style: normal;
    line-height: 26px;
    letter-spacing: -0.36px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 100px auto 0 auto;;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 427px;
    height: 427px;
    column-gap: 20px;
    background-color: var(--white);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.card img {
    width: 104px;
    height: 88px;
    box-sizing: border-box;
}

.card h3 {
    color: var(--black, #303031);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
}

.card p {
    color: var(--black, #303031);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}



